apiVersion: likpi/v1
kind: COMPUTERSYSTEM
metadata:
  name: "${instance_name}"
spec:
  class: "COMPUTERSYSTEM"
  status: "operational"
  attributes:
    description: "${description}"
    environment: "${environment}"
    ip_address: "${ip_address}"
    unique_identifier: "${unique_identifier}"
    serial_number: "${serial_number}"
    cpu_count: "${cpu_count}"
    category: "Hardware"
    type: "VMNaked"
    item: "N/A"
    model: "Proliant DL380 Gen11"
